{% extends "base.html" %}


{% block title %}
Posts
{% endblock %}


{% block body %}
<div class="container">
    <center><h1>Все статьи.</h1></center>

		{% if articles|length > 0 %}
			{% for el in articles %}
			<div class="alert alert-info">
				<h2>{{ el.title }}</h2>
				<p> Дата: {{ el.date.date() }}</p>
				<h4>{{ el.intro }}</h4>
				<a class="btn btn-warning" href="/posts/{{ el.id }}">Подробнее</a>
			</div>
			{% endfor %}


		{% else %}
			<p>Нет статей на сайте.</p>
		{% endif %}




</div>

{% endblock %}