{% extends "base.html" %}

{% block title %}
Resource
{% endblock %}

{% block body %}
<div class="container"><center>
    Языки и фреймворки: <br>
    Python. Flask <br>
    HTML<br>
    CSS(Bootstrap)<br>
</center></div>
<center>
    <a href="https://github.com/Phawer-7/MyBlog" class="btn btn-success">Github. Исходный код сайта.</a>
    <a href="https://t.me/projects_by_phawer" class="btn btn-success">Telegram</a>
    <a href="https://t.me/Mrfire7" class="btn btn-success">Telegram</a>
</center>
{% endblock %}